{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Entrar{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card.auth-card">
                <div class="card-body">
                    <h4 class="card-title text-center">Registrar no projeto</h4>
                    <form method="POST">
                        {% csrf_token %}
                        <!-- Nesse next quando acessamos uma url que precisa de autenticação o django nos leva para a página de login-->
                        <!-- Depois de feito o login ele nos retorna para a url armazenada nesse parâmetro next -->
                        <input type="hidden" name="text" value="{{ next }}">

                        {{ form|crispy }}

                        <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                    </form>
                    <p class="change-form-p">Já possui uma conta? <a href="/accounts/login">Clique aqui</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}